/* blog-details.css */

.page-title {
  text-align: center;
  padding: 1.25rem 0;
}

.title-wrapper {
  margin: 0 auto;
  max-width: 800px;
  padding: 1rem 0;
}

.title-wrapper h1 {
  color: #2d465e;
  font-size: 2.5rem;
  line-height: 3rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.title-wrapper p {
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 400;
  color: #212529cc;
}

.breadcrumb {
  padding-bottom: 1.5rem;
}

.breadcrumb ol {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  gap: 1rem;
}

.breadcrumb .breadcrumb-item a i {
  padding-right: 0.125rem;
}

.breadcrumb .breadcrumb-item a span {
  margin-left: 0.5rem;
}

.breadcrumb .breadcrumb-item a {
  color: rgba(33, 37, 41, 0.7);
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.375rem;
}

.breadcrumb .breadcrumb-item a:hover {
  color: rgb(247, 88, 21);
}

.breadcrumb ol .active {
  color: rgb(247, 88, 21);
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  padding: 3.75rem 0;
}

.blog-details {
  grid-column: 1 / span 2;
  color: rgb(45, 70, 94);
  font-family: "Roboto", sans-serif;
}



.blog-details-content {
  padding: 1rem 0;
  border-bottom: 1px solid color-mix(in srgb, #212529, transparent 90%);
  padding-bottom: 2rem;
}

.blog-details-image {
  position: relative;
  border-radius: 1rem;
  margin-bottom: 2rem;
}

.blog-details-image img {
  border-radius: 1rem;
}


.info{
border-bottom: 1px solid color-mix(in srgb, #212529, transparent 90%);
padding-bottom: 2rem;
}

.overly-info {
  position: absolute;
  bottom: 1%;
  left: 0;
  right: 0;
  padding: 2rem;
  border-radius: 1rem;
  color: #fff;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent);
  display: flex;
  align-items: center;
  gap: 1rem;
}

.overly-info button {
  background-color: #f75815;
  border: none;
  padding: 0.3rem 1rem;
  border-radius: 1.5rem;
  font-size: 1rem;
  font-weight: 400;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.blog-details-content h2 {
  font-size: 2.8125rem;
  line-height: 3.375rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

.author-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.author-details {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.author-details img {
  width: 3.125rem;
  height: 3.125rem;
  border-radius: 50%;
}

.name-job {
  display: flex;

  flex-direction: column;
}

.name-job h4 {
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  color: #2d465e;
}

.name-job p {
  font-family: "Roboto", sans-serif;
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 400;
  color: #212529cc;
}

.date-info {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-size: 0.9375rem;
  color: #212529b3;
}

.date-info p,
span,
i {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.detailed-info {
  margin-top: 2rem;
}

.detailed-info .desc1,
.desc2 {
  font-family: "Roboto", sans-serif;
  font-size: 1.3125rem;
  line-height: 2.3125rem;
  font-weight: 500;
  margin-bottom: 2rem;
  color: #2d465e;
}

.detailed-info .desc2 {
  font-size: 1.125rem;
  line-height: 2.0625rem;
  font-weight: 400;
  color: #212529e6;
}

.two-columns {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  color: color(srgb 0.129412 0.145098 0.160784 / 0.9);
}

.content-left h4 {
  font-size: 2rem;
  font-weight: 500;
}

.content-left p {
  font-size: 1.125rem;
  line-height: 2.0625rem;
  font-weight: 400;
  margin-top: 1rem;
  font-family: "Roboto", sans-serif;
}

.content-left ul {
  font-size: 1.125rem;
  line-height: 2.0625rem;
  margin-top: 1rem;
  list-style-type: disc;
  margin-left: 1rem;
}

.content-left ul li {
  font-family: "Roboto", sans-serif;
  padding: 0.2rem 0;
  font-weight: 400;
}

.img-right {
  position: relative;
  grid-column: 2 / 21;
  max-width: 28.125rem;
  margin-left: 2rem;
  height: 21rem;
  border-radius: 1rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
  overflow: hidden;
}

.img-right img {
  height: auto;
}

.img-right .overly {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  font-size: 0.875rem;
  text-align: center;
  padding: 1rem;
}

.trends {
  background: color-mix(in srgb, #f75815, transparent 95%);
  border-radius: 12px;
  margin-top: 2rem;
  color: #2d465e;
  padding: 2rem;
  width: 100%;
}

.trends h4 {
  font-size: 1.5rem;
  font-weight: 500;
}

.trends ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3rem;
  margin-top: 2rem;
  padding-bottom: 2rem;
}

.trends ul li {
  font-size: 1.125rem;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
}

.trends ul li i {
  color: #f75815;
  font-size: 1.5rem;
  font-weight: 500;
  padding-right: 0.5rem;
}

.performance {
  color: #2d465e;
  font-size: 2rem;
  font-weight: 500;
  margin-top: 3rem;
  margin-bottom: 1.5rem;
}

.performance-desc {
  font-size: 1.125rem;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  line-height: 2.0625rem;
  color: color-mix(in srgb, #212529, transparent 10%);
}

blockquote {
  width: 100%;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.05);
  padding: 2rem;
  margin-top: 2rem;
  border-radius: 12px;
  position: relative;
}

blockquote p {
  font-size: 1.3125rem;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  line-height: 2.3125rem;
}

blockquote cite {
  font-size: 0.9375rem;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  line-height: 2.3125rem;
  color: color-mix(in srgb, #212529, transparent 30%);
}

blockquote::before {
  content: '"';
  position: absolute;
  top: -20px;
  left: 5px;
  font-size: 8rem;
  color: color-mix(in srgb, #f75815, transparent 85%);
  font-family: serif;
  line-height: 1;
}


.cards{
  display: flex;
  gap: 1rem;
  margin-top: 2rem;
}

.card{
  background-color: #fff;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.05);
  padding: 2rem;
  transition: all 0.3s ease-in-out;
  transform: translateY(0);
}

.card:hover{
transform: translateY(-5px);
}

.info-card{
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}

.info-card i{
  font-size: 2rem;
  color: #f75815;
}

.info-card h5{
  font-size: 1.3125rem;
  font-weight: 500;
}


.info-card p{
  font-size: 1rem;
  line-height: 1.625rem;
  font-weight: 400;
  color: color(srgb 0.129412 0.145098 0.160784 / 0.9);
}


.related-topics h5{
  font-size: 1.125rem;
  font-weight: 500;
  margin-bottom: 1rem;
  margin-top: 2rem;
}

.related-topics button {
  background: color-mix(in srgb, #f75815, transparent 90%);
  border: none;
  padding: 0.7rem 1rem;
  border-radius: 1.5rem;
  font-size: 0.875rem;
  font-weight: 400;
  color: #f75815;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  font-family: "Roboto", sans-serif;
  margin-bottom: 2rem;
}

.related-topics button:hover{
  background-color: #f75815;
  color: #fff;
}

.icons{
  display: flex;
  gap: 1rem;

}



.related-topics .icons a{
  background: color-mix(in srgb, #f75815, transparent 90%);
  color: #f75815;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.1875rem;

}

.related-topics button:hover{
  background-color: #f75815;
  color: #fff;
}

.author-card{
  margin-top: 5rem;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.05);
  padding: 2rem;
  display: flex;
  gap: 2rem;
  transition: transform 0.3s ease;
  transform: translateY(0);
}

.author-card:hover{
  transform: translateY(-5px);
}

.author-card .img-icons img{
  width: 9.375rem;
  height: 9.375rem;
  border-radius: 50%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border: 4px solid #fff;
}

.socials-icons {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: .5rem;
  padding-top: 1rem;
}



.socials-icons  a{
  background: color-mix(in srgb, #f75815, transparent 90%);
  color: #f75815;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;

}

.socials-icons a:hover{
  background-color: #f75815;
  color: #fff;
}


.more-author-info .desc{
  font-size: 1rem;
  line-height: 1.625rem;
  font-family: "Roboto", sans-serif;
  margin-top: 1rem;
}


.author-name-job h5{
  font-size: 1.75rem;
}

.author-name-job p {
  font-size: 1rem;
  line-height: 1.5rem;
  color: color-mix(in srgb, #212529, transparent 40%);
  margin-top: 0.3rem;
}






.author-socials{
  display: flex;
  padding-top: 1.5rem;
  font-size: 0.9375rem;
  gap: 1rem;
}

.author-socials a{
  color: #f75815;
  font-family: "Roboto", sans-serif;
}